#content .navbar {
    background-color: #0f2439 !important;
    text-decoration: none;
    margin-bottom: 10px;
}
#content .navbar a {
    text-decoration: none;
} 
main .nav-button-row {
    justify-content: space-between;
    margin-bottom: 10px;
}    
main > .container {
    max-width: 1140px;
}

main .col-1 {
	width: 1000px;
}

main .vertical-th {
    text-align: center;
}

main #buttonRow {
    padding-top: 10px;
}

main *:not(.material-symbols-outlined) {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

main table tr th {
    font-size: 1rem;
}

main #buttonRow {
    padding-left: 20px;
}

main #wWeatherContainer {
    background-color: mediumblue;
    color: white;
}

main #weatherWarning {
    color: #cc0000;
    font-size: 1.2em;
}

main #NOTAMRemind {
    background-color: red;
    color: white;
    text-align: center;
}

main canvas {
    width: 100%;
    height: auto;
}

main #picture-iframe {
    position: absolute;
    left: -1500px;
}

main input.invalid {
    border: 1px solid red;
    color: red;
}

main .invalid>div>input {
    border: 1px solid red;
    color: red;
}

main .weather-row::before {
    width: 100%;
    content: "";
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

main #flightDataSummary {
    text-wrap: balance;
}

main .collapseIconDiv {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

main .collapse_icon {
    align-self: center;
    max-width: 50px;
    min-width: 50px;
    height: 40px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .empty-aircraft-info {
    font-size: 12px;
}

main #aircraftLabelDiv {
    display: contents;
}

main #aircraftLabelDiv.hidden {
    display: none;
}

main #flightInfoSummary {
    max-width: 400px;
}

main #smallEmptyAircraftInfo {
    align-content: center;
    order:  2;
    display: none;
}

main #flight_info > div:first-child {
    justify-content: space-between;
}

main #flight_info > .row > * {
    align-self: center;
}

main .flight-info-summary > small {
    display: inline-table;
    text-wrap: balance;
}

main #summary-buttonDiv {
    display: contents;
}

main #aircraftSelectCol {
    width: 75%;
}

main #aircraftSelectLabel {
    align-self: center;
}

main #aircraftSelectDiv {
    display: flex;
}

main #aircraftSelectRow {
    margin-bottom: 0px;
}

main #aircraftSelect {
    min-width: 105px;
    align-self: center;
}

main #flightInfoCollapse > div:last-child, #flight_info > div:first-child {
    margin-bottom: 0px;
}

main #flightInfoCollapse > div:first-child {
    margin-top: 1rem;
}

main #dueBackTimeDiv {
    display: flex;
    gap: 10px;
}

main #dueBackTimeDiv > label {
    width: 100%;
}

main #dueBackTimeInputDiv {
    width: 100%;
}

@media (max-width: 575px) {
    main #dueBackTimeDiv {
        flex-wrap: wrap;
        gap: 0;
    }
    main .form-group-sm {
        margin-bottom: 1rem;
    }
    main #aircraftRow {
        flex-wrap: wrap;
    }
    main #aircraftSelectLabel {
        order: 1;
        width: auto;
    }
    main #smallEmptyAircraftInfo {
        display: inline-block;
    }
    main #emptyAircraftInfo {
        display: none;
        order: 2;
        width: auto;
    }
    main #aircraftSelectDiv {
        min-width: 135px;
        order: 3;
    }
    main #collapseButtonDiv {
        min-width:  50px;
        width: 25%;
        order: 4;
    }
    main #summary-buttonDiv:has(> #flightInfoSummary:not(.hidden)) {
        display: flex;
    }
    main #aircraftLabelDiv {
        display: flex;
    }
}

@media (min-width: 576px) {
    main .airport-select {
        width: auto;
    }

    main .airport-container {
        flex-direction: row;
    }

    main .airport-col {
        flex: auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

@media (min-width: 768px) {
    main .navbar-nav.mr-auto {
        flex: auto;
    }

    main .feedback {
        margin-left: auto;
    }
}

@media (min-width: 992px) {
    main .airport-select {
        width: 100%;
    }

    main .airport-container {
        flex-direction: column;
    }

    main .airport-col {
        flex: 0 0 8.333333%;
    }
}

main .airport-container {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    gap: 10px;
    padding-top: .5em;
}

main .airport-col {
    max-width: none;
}

main .airport-select {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-width: 60px;
    min-height: 50px;
    height: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
    background-color: #009FFF;
    border-radius: 10%;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

main .nav-button-row::before {
    width: 100%;
    content: "";
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

main .navbar-dark .navbar-nav .nav-link.disabled {
    color: #7f9bb8;
}

main .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: #7ec8ff;
}

main .navbar-dark .navbar-nav .nav-link {
    color: #cfe3f7;
}

main .navbar-dark .navbar-nav .active {
    border-bottom: white solid;

}

main .nav-button-row {
    justify-content: space-between;
    margin-bottom: 10px;
}

main .next-only {
    justify-content: flex-end;
}

main .errorMessage {
    color: #cc0000;
    font-size: 1.2em;
}

main #runwaySelect {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 7px;
    width: auto;
}

main .hidden {
    display: none;
}

main .bg-dark {
    background-color: #0f2439 !important;
}

main .btn-secondary {
    color: #fff;
    background-color: #0f2439;
    border-color: #6c757d;
}

main .btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

main .btn-secondary:focus, .btn-secondary.focus {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
    text-decoration: none;
}

main .btn-secondary.disabled, .btn-secondary:disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

main .btn-secondary:not(:disabled):not(.disabled):active, main .btn-secondary:not(:disabled):not(.disabled).active,
main .show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
}

main .btn-secondary:not(:disabled):not(.disabled):active:focus, main .btn-secondary:not(:disabled):not(.disabled).active:focus,
main .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

main #alt-wWind>input {
    width: 100px;
    display: inline;
}


main #main-overlay {
    visibility: hidden;
    display: flex;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
    position: fixed;
    align-items: center;
    justify-content: center;
}

main .loader {
  --color-1: #fff;
  --color-2: #2472b5;
  --size: 1px;

  width: calc(48 * var(--size));
  height: calc(48 * var(--size));
  border: calc(5 * var(--size)) solid var(--color-1);
  border-bottom-color: var(--color-2);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

main root {
    --gray: #f8f8f8;
    --blue: #4d5f80;
    --blue-dark: #384660;
    --blue-bright: #2472b5;
    --blue-light: #d9dfe8;
}